### Handling NULLs in Spark

### Handling NULLs in Spark

This notebook demonstrates various techniques to handle NULL values in Spark DataFrames. It covers methods to:
- Detect NULL values
- Replace NULL values
- Drop rows with NULL values
- Fill NULL values with specific values
- Use SQL functions to handle NULLs

In [0]:
schema=["name", "subject", "Marks", "Attendance"]

student_data=[("John","Math", 90, 80),("Michael", "Science", 70, None), ("David", "History", 50,40), ("Kelvin", "Computer", 40,None ),("Paul", "GEO", None, None), (None,None,  None, None),("John","Math", 90, 80),("John","Math", 90, 80),(None,None,  None, None),(None,None,  None, None),(None,None,  None, None),(None,"Math", 90, 80),('Naval',None, 90, 80) ]

df=spark.createDataFrame(data=student_data, schema=schema)
display(df)

In [0]:
df1 = df.dropDuplicates()
display(df1)

In [0]:
help(df.dropna)

In [0]:
# Drop duplicate rows based on the "name" column
df2 = df.dropDuplicates(subset=["name"])
display(df2)

# Drop rows where all elements are null
df3 = df2.dropna(how="all")
display(df3)

# Drop rows that have less than 3 non-null elements
df4 = df3.dropna(thresh=3)
display(df4)

# Drop rows that have less than 3 non-null elements from the original DataFrame
df5 = df.dropna(thresh=3)
display(df5)

In [0]:
df6 = df.fillna(50)
display(df6)    

df7 = df.fillna({"Attendance": 50}) 
display(df7)

In [0]:
# Fill missing values in the specified columns with the given values
df7 = df.fillna({"Attendance": 50, "Marks": 60, "name": "Unknown", "subject": "AI"})
display(df7)

In [0]:
help(df7.replace)

In [0]:
df8 = df7.replace(['AI'],['IT'],'subject')
display(df8)