In [0]:
data=([(1,'Ravi','Pune'),(2,'Vijay','Mumbai'),(3,'Ajay','Bangalore')])
schema='id INT, name STRING, city STRING'
df=spark.createDataFrame(data,schema)

In [0]:
df.createOrReplaceTempView('source_view')

In [0]:
%sql
drop table if Exists cgi_dev.navaneeth.target_emp;
create table if not exists cgi_dev.navaneeth.target_emp(id int, name string, city string)

In [0]:
%sql
MERGE into cgi_dev.navaneeth.target_emp as t
using source_view as s
on t.id = s.id
when matched then update SET
name = s.name,
city = s.city
when not matched then insert (
  id,
  name,
  city
)
values (
  s.id,
  s.name,
  s.city
)

In [0]:
%sql
Select * from cgi_dev.navaneeth.target_emp

In [0]:
data=([(1,'Ravi','Pune'),(2,'Vijay','Hyderbad'),(3,'Ajay','Delhi'),(5,'Naval','Mumabi')])
schema='id INT, name STRING, city STRING'
df=spark.createDataFrame(data,schema)

In [0]:
data=([(10,'NAvaneeth','Chennai')])
schema='id INT, name STRING, city STRING'
df=spark.createDataFrame(data,schema)

In [0]:
%sql
merge into cgi_dev.navaneeth.target_emp as target
using source_view as source
on target.id = source.id
when matched then update SET *
when not matched then insert *

In [0]:
%sql
describe history cgi_dev.navaneeth.target_emp;